!!! 5
%html{:lang => "en"}
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:charset => "UTF-8"}
  %title Document
  %link{:href => "css/style.css", :rel => "stylesheet"}
%body
  .header
    .wrap
      .logo
        %img{:alt => "logo", :src => "img/logo.png"}
      %p.trips_asia Путешествия по Азии
      .contacts
        %p.ourinfo Наши контакты:
        %a{:href => "tel:+9-098-765-4321"} +9-098-765-4321
        %a{:href => "tel:+9-0123-456-890"} +9-0123-456-890
        %a{:href => "mailto:info@asia-holidays.com"} info@asia-holidays.com
      %ul.countries
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/India"}
            %img{:alt => "India", :src => "img/India.png"}>/
            Индия
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/Nepal"}
            %img{:alt => "Nepal", :src => "img/Nepal.png"}>/
            Непал
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/Tibet"}
            %img{:alt => "Tibet", :src => "img/Tibet.png"}>/
            Тибет
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/Bhutan"}
            %img{:alt => "Bhutan", :src => "img/Bhutan.png"}>/
            Бутан
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/Sri_Lanka"}
            %img{:alt => "Sri Lanka", :src => "img/Shri-Lanka.png"}>/
            Шри-Ланка
        %li.country_image
          %a.image_link{:href => "https://en.wikipedia.org/wiki/Maldives"}
            %img{:alt => "Maldives", :src => "img/Maldives.png"}>/
            Мальдивы
  %section
    .wrap
      %img.beach{:alt => "Photo Island", :src => "img/beach.jpg"}
      %ul.menu
        %li.menu_item
          %a{:href => "#"} 
            Главная
        %li.menu_item
          %a{:href => "#"}
            Путешествие
            %span.arrow ▼
          %ul.submenu
            %li
              %a{:href => "#"} Путешествие1
            %li
              %a{:href => "#"} Путешествие2
            %li
              %a{:href => "#"} Путешествие3
            %li
              %a{:href => "#"} Путешествие4
            %li
              %a{:href => "#"} Путешествие5
        %li.menu_item
          %a{:href => "#"}
            Услуги
            %span.arrow ▼
          %a
            %ul.submenu
              %li
                %a{:href => "#"} Услуга1
              %li
                %a{:href => "#"} Услуга2
              %li
                %a{:href => "#"} Услуга3
              %li
                %a{:href => "#"} Услуга4
              %li
                %a{:href => "#"} Услуга5
        %li.menu_item
          %a{:href => "#"}
            Партнерам
            %span.arrow ▼
          %ul.submenu
            %li
              %a{:href => "#"} Партнерам1
            %li
              %a{:href => "#"} Партнерам2
            %li
              %a{:href => "#"} Партнерам3
            %li
              %a{:href => "#"} Партнерам4
            %li
              %a{:href => "#"} Партнерам5
        %li.menu_item
          %a{:href => "#"} Отзывы клиентов
        %li.menu_item
          %a{:href => "#"} О нас
        %li.menu_item
          %a{:href => "#"} Контакты
      .wrapper-dedushka
        .wrapper-otetz
          .sidebar_left
            %h3.info Информация
            %p.sidebar_item Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
          .content_center
          .sidebar_right
            %h3.info Новости
            %p.sidebar_item Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
    %p.copyright Copyright © asia-holidays.com. 2016