!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Pingbuller - it will make all of your dreams come true
  %body
    %header
      .navbar
        .wrapper
          %a{:href => "#"}
            %span.heading-text.logo-header-text__pingbull Pingbull
            %span.heading-text.logo-header-text__er er
          %ul.navbar-top
            %li
              %a.heading-text.header-menu-item{:href => "#"} Home
            %li
              %a.heading-text.header-menu-item{:href => "#"} About
            %li
              %a.heading-text.header-menu-item{:href => "#"} Blog
            %li
              %a.heading-text.header-menu-item{:href => "#"} Products
            %li
              %a.heading-text.header-menu-item{:href => "#"} Lorem Ipsum
            %li
              %a.heading-text.header-menu-item{:href => "#"} Dolor Sit Amet
      .darkened-stripe
        %div
          %a.carousel-btn-prev{:href => "#"}
            %img{:alt => "", :src => "img/arrow.png"}/
        .wrapper
          %article.main-article
            %h2.heading-text.main-heading_1 Lorem Ipsum Dolor
            %h3.heading-text.main-heading_2 It will make all of your dreams come
            %p.ordinary-text.main-text Semper sollicitudin gravida eget, vestibulum sit amet sapien. Nunc dignissim tincidunt est, et auctor turpis ornare a. Nam venenatis hendrerit est at volutpat. Morbi elementum euismod lacus id semper. In odio nunc, imperdiet eget aliquam quis, euismod id lectus. Nulla interdum arcu et felis aliquam a tempus lectus lobortis.
          %div
            %img{:alt => "", :src => ""}/
        %div
          %a.carousel-btn-next{:href => "#"}
    .about-our-company
      .wrapper
        %article.about-article
          %img{:alt => "", :src => ""}/
          %h2.heading-text.about-heading About our company
          %p.ordinary-text.about-text Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
          %p.heading-text.about_read-more Read more
        %article.about-article
          %img{:alt => "", :src => ""}/
          %h2.heading-text.about-heading About our company
          %p.ordinary-text.about-text Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
          %p.heading-text.about_read-more Read more
        %article.about-article
          %img{:alt => "", :src => ""}/
          %h2.heading-text.about-heading About our company
          %p.ordinary-text.about-text Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
          %p.heading-text.about_read-more Read more
    .testimonials-and-updates
      .wrapper
        %article.testimonials
          %img{:alt => "", :src => ""}/
          %h2
            %span.heading-text.testimonials-text__pingbuller Pingbuller
            %span.heading-text.testimonials-text__starts-here starts here
          %p.ordinary-text.testimonials-text_article “Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl.”
        %section.recent-updates
          %h2.heading-text.textimonials-pingbuller Recent updates
          %article.updates__article
            %img{:alt => "", :src => ""}/
            %h3.ordinary-text.update-item_title Nunc turpis neque feugiat eget
            %p.ordinary-text.update-item_time Posted by Admin on March 13 2012 in Recent News
          %article.updates__article
            %img{:alt => "", :src => ""}/
            %h3.ordinary-text.update-item_title Nunc turpis neque feugiat eget
            %p.ordinary-text.update-item_time Posted by Admin on March 13 2012 in Recent News
          %article.updates__article
            %img{:alt => "", :src => ""}/
            %h3.ordinary-text.update-item_title Nunc turpis neque feugiat eget
            %p.ordinary-text.update-item_time Posted by Admin on March 13 2012 in Recent News
    .logos
    .recent-comments-new-categories
      .wrapper
        .footer__column
          %h2
            %span.heading-text.logo-footer-text__pingbull Pingbull
            %span.heading-text.logo-footer-text__er er
          %p.copyright Copyright 2013, Pingbull AS
          %p.ordinary-text.footer__article Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque
        .footer__column
          %h2.heading-text.footer__heading Recent comments
          %p.ordinary-text.footer__article Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pulvinar bibendum in, venenatis quis
        .footer__column
          %h2.heading-text.footer__heading News categories
          %p.ordinary-text.footer__article Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pulvinar bibendum in, venenatis quis
    %footer
      .shadow
      .wrapper
        %ul
          %li
            %a.heading-text.footer-menu-item{:href => "#"} Home
          %li
            %a.heading-text.footer-menu-item{:href => "#"} About
          %li
            %a.heading-text.footer-menu-item{:href => "#"} Blog
          %li
            %a.heading-text.footer-menu-item{:href => "#"} Lorem Ipsum
          %li
            %a.heading-text.footer-menu-item{:href => "#"} Dolor sit amet
        %p
          %span.designed-by Designed by
          %span.pingbull-as Pingbull AS
