!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Doc
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    %button#faith.myButton-1
      Invoke pow script
    %button#mal.myButton-2
      Second task
    %script{:src => "js/pow.js", :type => "text/javascript"}
    %script{:src => "js/task-two.js", :type => "text/javascript"}
