!!!
%html{:lang => "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Document
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #wrapper
      %div
        %h1#name.center Доманский Андрей Алексеевич
        %img#image{:src => "img/2014-10-19_165754+.jpg"}/
        %p Студент Киево-Могилянской Академии, 4 курс. Политология
      %hr.separator/
      #goal
        %h3 Хочу учить фронтенд, потому что:
        %ul
          %li Выпускной курс.
          %li Интересно что-то создавать, можно увидеть свою работу.
          %li Специальность нужная, к тому же здесь весело, много всего происходит.
      %hr.separator/
      #contacts
        %h3 Мой контактный телефон:
        %p.padding +380683114525
        %h3 Мой профиль Facebook:
        %a.padding{:href => "https://www.facebook.com/domanski.andrew"} Fb.com
      %hr.separator/
      %div
        %h3 Мой фидбек:
        %p.padding Очень нужен ментор.
