div
  height: 700px

.wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

.divka
  display: flex
  flex: 1

.red, .green, .blue
  flex: 0 0 12em

.red
  background: red
  flex: 1

.green
  background: green
  order: -1

.blue
  background: blue

