body {
	font-family: sans-serif;	
    width: 1024px;
    height: 1024px;
    background-color: #F3F3F3;
    margin: 0 auto;	
}

hr {
	border-top: 1px solid #c4c4ca;
}

h3 {
	
}

.padding {
	padding-left: 20px;
}

#wrapper {
	max-width: 500px;
	margin: 0 auto;
}

#name {

	text-transform: uppercase;
}

#image {
	display: block;
	width: 300px;
	margin-left: auto;
    margin-right: auto
}

.center {
	text-align: center;
}

