!!!
%html
  %head
    %link{href: "css/style.css", rel: "stylesheet"}
    %script{src: "js/script.js"}
    %script{src: "js/data.js"}
  %body
    %p.panic Panic!
    %h1 Money make the world go round
    %h2 Works!
    %h3 Boy you got me wanting more more more...
    %h3 Money-go-round money-go round!
    .divka