!!!
%html
  %head
    %link{:href => "css/style.css", :rel => "stylesheet"}
  %body
    .wrapper
      .top-bar
      %h1.top-heading#top Testing App
      %p.instructions Instructions: just press buttons! Test takes 5 questions, beauty.
      .test-view#tost
        %h3.take-test-button Take the test!

    %script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js")
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.2/js-yaml.min.js"}
    %script{:src => "js/script.js"}
    %script{:type => "text/template", :id => "test-template"}
    :plain
      <h2><%=question%></h2>
      <table>
      <% for (let i=1; i<count; i++) { %>
      <tr>
      <td>
      <input class="checkbox" type="radio" id="chbx-<%=i%>">
      </td>
      <td>
      <label class="checkbox-label" for="chbx-<%=i%>"><%=variants[i]%></label>
      </td>
      </tr>
      <% } %>
      </table>
    %script{:type => "text/yaml", :id => "questions"}
    :plain
      ---
      '1':
          question: Who is the world's most successful musician in history?
          variants:
          - Eminem
          - Michael Jackson
          - Madonna
          - Bob Dylan
          - Stevie Wonder
          - David Bowie
          answer: Michael Jackson
      '2':
          question: Which DOM attribute doesn't exist?
          variants:
          - addAttribute
          - hasAttribute
          - removeAttribute
          answer: addAttribute
      '3':
          question: Which number of month was November initially?
          variants:
          - '2'
          - '8'
          - '10'
          - '6'
          answer: '8'
      '4':
          question: Who is the longest reigning monarch of the United Kingdom?
          variants:
          - Queen Victoria
          - Queen Elizabeth I
          - Queen Elizabeth II
          - King George V
          answer: Queen Elizabeth II
      '5':
          question: What makes the world go round?
          variants:
          - money
          - women
          - men
          - governments
          - mysticism
          - information
          - knowledge
          - idiocy
          answer: money
