!!!
%html{:lang => "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Fitness for Y'all
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
  %body
    .wrapper
      .header
        %a{:href => "#"}
          %img.logo{:alt => "Fitness", :src => "img/logo.png"}/
        .menu
          %ul
            %li.top_menu__li
              %a.top_menu__a{:href => "#"} Главная
            %li.top_menu__li
              %a.top_menu__a{:href => "#"} Товары
            %li.top_menu__li
              %a.top_menu__a{:href => "#"} О_нас
            %li.top_menu__li
              %a.top_menu__a{:href => "#"} Контакты
      .main
        .sidebar
          %ul
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Ноутбуки
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Планшеты
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Телефоны
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Телевизоры
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Бытовая техника
            %li.sidebar__li
              %a.sidebar__a{:href => "#"} Автотовары
        .content
          %img.bike{:alt => "Bike!", :src => "img/velo.png"}/
          %p.text Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      .footer
        %ul
          %li.footer-menu__li
            %a.footer-menu__a{:href => "#"} Главная
          %li.footer-menu__li
            %a.footer-menu__a.underline{:href => "#"} Товары
          %li.footer-menu__li
            %a.footer-menu__a{:href => "#"} О_нас
          %li.footer-menu__li
            %a.footer-menu__a{:href => "#"} Контакты
          %li.footer-menu__li
            %a.footer-menu__a{:href => "#"} 2016 © All rights reserved
