* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
}

html, body {
    height:100%; /* Пришлось так писать, чтоб потом задать центральный div на всю длину страницы 100%*/
}


body {
	background-color: #f9f9f9;
}

li {
	list-style-type: none;
}

h1 {
	padding-left: 46px;
	padding-top: 50px;
	margin: 0px;
}

a {
	color: #000;
}

.wrapper {
	width: 1060px;
	min-height: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0 auto;
	background-color: #fff;
}

.menu {
	background: linear-gradient(to bottom, #5e5e5e, #444343);
	margin-top: 40px;
	margin-bottom: 40px;
	height: 40px;
}

.menu ul li {  
	padding-left: 46px;
    display: inline-block;
    color: #E9E9E9;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.sidebar {
	float: left;
	display: inline;
	width: 240px;
	height: auto;
}

.sidebar ul {
	margin-left: 46px;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
	border-bottom: 1px gray solid;	
}

.sidebar ul li {
	border-top: 1px gray solid;
	display: block;
	height: 35px;
}

.sidebar ul li a {
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

.sidebar ul li a:hover {
	margin-left: 40px;
}

.content {
	display: block;
	float: left;
	width: 800px;
	height: auto;
	position: relative;
}

.content img {
	overflow: auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.text {
	padding: 20px;
}

.footer {
	clear: both;
}

.footer ul li {
	float: left;
	display: inline-block;
	height: auto;
	padding: 10px;
}

.footer ul li:last-child {
	float:right;
}