
* {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse; /* No duplicate borders */
	width: 500px;
}

td {
	border: 9px solid black;
}

	/* no borders */

.no-borders-top {
	border-top: none;
}

.no-borders-left {
	border-left: none;
}

.no-borders-right {
	border-right: none;
}

.no-borders-bottom {
	border-bottom: none;
}

	/* backround colors */

.orange {
	background-color: #ff5c13;
}

.yellow {
	background-color: #fff325;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #064c91;
}

/* Проблема как настроить ширину 
   так чтоб были pixel-perfect
   Разваливается когда пробую через style="width: 7px" */